@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: white; 
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
